.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  justify-content: center;
  display: flex;
}

.job_offer {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.job_offer>span {
  color: rgb(8, 8, 8);
}
