header {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content:space-around;
    height: 3rem;
}

.linkedin_icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.left_elements {
    display: flex;
    align-items: center;
}

.right_components {
    display: flex;
    align-items: center;
}

.right_components>div {
    cursor: pointer;
}

.icons_wrapper>svg {
    height: 1.3rem;
    width: 1.5rem;
    color: rgba(25, 25, 25, 0.753);
}

.icons_wrapper {
    margin: 0 1rem;
}

.icons_wrapper>p {
    font-size: 0.7rem;
}

.search_field {
    border: none;
    display: flex;
    border-radius: 3px;
    height: 2rem;
    background: rgb(238, 243, 248);
}

.search_field>input {
    background: none;
    border: none;
    height: 2rem;
}

.search_field>svg {
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.logout_icon {
    background: green;
    border-radius: 50%;
    height: 1.6rem;
    width: 1.7rem;
    position: relative;
    overflow: hidden;
}

.logout_icon>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.profil_log_out {
    position: relative;
}

.profil_log_out>p {
    display: flex;
    align-items: center;
    color: green;
}

.profil_log_out>p>svg {
    font-size: 0.8rem;
    color: green;
}

.profil_log_out>button {
    position: absolute;
    width: 5rem;
    padding: 0.3rem 0.8rem;
    right: -1.7rem;
    bottom: -1.6rem;
    border-radius: 5px;
    border: 1px solid rgba(233, 18, 18, 0.486);
    background: rgba(233, 18, 18, 0.486);
    color: white;
    cursor: pointer;
    visibility: hidden;
}

.profil_log_out:hover button {
    visibility: visible;
}